body h1,
h2,
h3,
h4,
h5,
h6,
a{
    font-family: 'Rubik', sans-serif;
}
body span,
strong{
    font-family: 'Roboto', sans-serif;
}
.main-header .container-fluid,
.banner-section .container-fluid{
    width: 1300px;
    margin: auto;
}
.containar{
    width: 1200px;
    margin: auto;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
.btn-primary {
    background: #e83b3e !important;
    border-color: #e83b3e;
    position: relative;
    z-index: 1;
    padding: 8px 36px;
}
.btn-primary::before{
    content: '';
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: #111;
    border-color: #111;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}
.btn-primary:hover::before{
    visibility: visible;
    opacity: 1;
    width: 100%;
}
.grry-bg{
    background: #f9fafb;
}
/* -------- main header section ---------------- */
.main-header{
    box-shadow: 0 2px 28px 0 rgb(0 0 0 / 9%);
}
.main-header .logo img{
    width: 140px;
}
.primary-menu{}
.primary-menu li{}
.primary-menu li a {
    display: inline-block;
    padding: 10px 18px;
    color: #111;
    transition: .4s;
}
.primary-menu li a:hover{
    color: #e83b3e;

}

.primary-menu li a.active{
    color: #e83b3e;
}

.header-info{}
.header-search {
    width: 50px;
    border-right: 1px solid #dadada;
    text-align: center;
    margin-right: 8px;
}
.header-search span {
    font-size: 23px;
    display: inline-block;
}
.header-contact{
    width: 200px;
}
.header-call-icon span {
    font-size: 30px;
    color: #e83b3e;
    font-weight: 700;
    display: inline-block;
    width: 42px;
    margin-top: 3px;
}
.header-call-info a {
    color: #111;
    font-weight: 500;
    font-size: 16px;
}
.header-button{}

/* ---------- DropDwon ---------- */
.primary-menu li{
    position: relative;

}
.primary-menu li:hover ul{
    top: 100%;
    visibility: visible;
    opacity: 1;
}
.primary-menu li a:hover > ul{

}
.primary-menu li ul { 
    position: absolute;
    top: 160%;
    left: 0;
    background: #fff;
    width: 200px;
    list-style: none;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transition: all .4s ease-in-out;
    box-shadow: 1px 1px 15px 0 #ddd;
}
.primary-menu li ul li{}
.primary-menu li ul li a{
    transition: .4s;
}
.primary-menu li ul li a:hover {
    letter-spacing: 1px;
}
/* ----------- banenr section ------- */
.banner-section{
    background: url(./img/main-banner2.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
.banner-section {}
.slider-content-wrap{
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}
.header-social{
    position: absolute;
    left: 0;
    bottom: 0;

}
.slider-content span {
    font-size: 19px;
    margin-bottom: 10px;
    display: inline-block;
    color: #e83b3e;
}
.slider-content h1 {
    font-size: 54px;
    font-weight: 600;
    line-height: 62px;
    margin-bottom: 24px;
}
.slider-content p {
    font-size: 19px;
    color: #555;
    margin-bottom: 30px;
}
.header-social ul{
    list-style: none;
    padding-left: 0 !important;
}
.header-social ul li {
    padding: 0 11px;
}
.header-social ul li a {
    color: #111;
    font-size: 20px;
    transition: .4s;
}
.header-social ul li a:hover{
    color: #e83b3e;
}
.header-social ul li span{
    position: relative;
    margin-right: 40px;
}
.header-social ul li span::after {
    content: '';
    position: absolute;
    width: 38px;
    height: 1px;
    background: #111;
    top: 10px;
    left: 75px;
}
/* ------- clint section ------- */
.clint-logo-section {
    padding: 80px 0;
    border-bottom: 1px solid #ddd;
}
/* ----------- about-company-section ---------- */
.about-company-section{}
.about-img {
    position: relative;
}
.about-img-text {
    position: absolute;
    bottom: 10px;
    right: 60px;
    background: url(./img/shape.png) no-repeat center;
    width: 180px;
    height: 180px;
    background-size: contain;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.about-img img{}
.about-img-text h2 {
    font-size: 52px;
    color: #e83b3e;
    font-weight: 600;
}
.about-img-text p {
    font-weight: 500;
    margin-left: 3px;
}
.about-text{}
.finix-text{}
.finix-text span {
    color: #e83b3e;
    margin-bottom: 9px;
    display: inline-block;
    font-size: 14px;
}
.finix-text h2 {
    font-size: 35px;
    font-weight: 400;
    line-height: 46px;
    margin-bottom: 14px;
}
.finix-text p {
    font-size: 15px;
    line-height: 25px;
    color: #606060;
}
.finix-text strong {
    color: #606060;
    font-size: 15px;
    font-weight: 400;
}
.finix-text ul {
    list-style: none;
    padding-left: 0;
    margin: 14px 0;
}
.finix-text ul li {
    color: #606060;
    line-height: 35px;
    position: relative;
}
.finix-text ul li::before {
    content: '\f00c';
    font-family: 'Font Awesome 5 Pro';
    font-weight: 400;
    margin-right: 13px;
    color: #e83b3e;
    font-size: 19px;
}
/* ------------ testimonial section ----------- */
.testimonial{
    position: relative;
}
.testimonial img{}
.play-bottun{}
.play-bottun a {
    position: absolute;
    bottom: 100px;
    right: 37%;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    border-radius: 50%;
    font-size: 43px;
    background: #fff;
    color: #e83b3e;
    z-index: 1;
    transition: .4s;
}
.play-bottun a:hover{
    background: #e83b3e;
    color: #fff;
}
.play-bottun a::after{
    content: '';
    position: absolute;
    top:0 ;
    left: 0;
    background: #e83b3e;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    z-index: -1;
    animation: animate linear 1s infinite;
}
@keyframes animate{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    50%{
        transform: scale(1.3);
        opacity: 0.8;
    }
    50%{
        transform: scale(1.5);
        opacity: 0.5;
    }
    100%{
        transform: scale(1.7);
        opacity: 0.1;
    }
}
.feature-item {
    padding: 30px;
    margin-bottom: 30px;
    background: #fff;
    position: relative;
    overflow: hidden;
    transition: .4s;
}
.feature-item:hover{
    transform:translateY(-10px)
}
.feature-item:hover span{
    background: #e83b3e;
    color: #fff;
    transition: .4s;
}
.feature-item::before {
    content: '';
    position: absolute;
    top: -115%;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 90%;
    height: 70%;
    background: #fdebeb;
    border-radius: 50%;
}
.mtop5 {
    margin-top: -30px;
}
.feature-icon{}
.feature-icon span {
    display: inline-block;
    background: #fff;
    width: 80px;
    height: 80px;
    line-height: 93px;
    font-size: 38px;
    border-radius: 50%;
    margin-bottom: 5px;
    color: #e83b3e;
    z-index: 1;
    position: relative;
}
.feature-item h4 {
    font-size: 21px;
    color: #555;
}
.feature-item p {
    font-size: 14px;
    color: #606060;
    line-height: 26px;
    margin-top: -8px;
}

/* -------------Apply Now section ------------ */
.timeline{}
.timeline h2 {
    font-size: 33px;
    font-weight: 400;
    margin-bottom: 20px;
}
.step-timeline{}
.step-timeline ul {
    list-style: none;
    position: relative;
    padding-left: 65px;
    display: inline-block;
}
.step-timeline ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 15px;
    width: 1px;
    height: calc(100% - 100px);
    background: #e83b3e;
}

.step-timeline ul li {
    margin-bottom: 35px;
    position: relative;
}
.step-timeline ul li::before {
    content: attr(data-counter);
    position: absolute;
    top: 0;
    left: -71px;
    width: 40px;
    height: 40px;
    background: #f9fafb;
    border: 1px solid #e83b3e;
    color: #e83b3e;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}
.step-timeline ul li strong {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 5px;
    display: inline-block;
}
.step-timeline ul li p{}

.calculate-rate {
    background: #fdebeb;
    padding: 40px;
    margin-top: 25px;
}


.calculate-form .form-group{}
.calculate-form .form-group label {
    margin-bottom: 3px;
}
.calculate-form .form-group input {
    border: none;
    padding: 13px 10px;
    outline: none;
    border-radius: 0;
    margin-bottom: 10;
}
.calculate-form .form-group input:focus {
    outline: 0;
    box-shadow: none;
}
.calculate-form .form-group select {
    height: 51px;
    border: none;
    color: #606060;
}
.calculate-form .form-group select:focus {
    box-shadow: none;
}
.calculate-form .form-group select option{}

.apply-now-section .row{
    --bs-gutter-x: 1.5rem;
}
/* ---------------- call section ------------ */
.call-section{}
.call-text-wrap {
    background: #e83b3e;
    padding: 40px;
    color: #fff;
    border-radius: 8px;
}
.call-text-wrap .call-left{}
.call-text-wrap .call-right{}

.call-text-wrap .call-left h2 {
    font-size: 33px;
    font-weight: 400;
    line-height: 3rem;
    border-right: 1px solid #ddd;
    
}
.call-text-wrap .call-right a {
    margin-bottom: 0;
    font-size: 31px;
    font-weight: 500;
    color: #fff;
}
.call-text-wrap .call-right a span {
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 67px;
    background: #fff;
    color: #e83b3e;
    text-align: center;
    font-size: 27px;
    border-radius: 50%;
    margin-right: 15px;
}
/* --------- our company section -------------- */

.our-company{}
.our-company-left{}
.our-company-left h2 {
    margin: 27px 0;
}

.our-company-text{}
.our-company-text .company-icon{}
.our-company-text .company-icon span {
    color: #e83b3e;
    font-size: 56px;
    margin-right: 20px;
    margin-left: -6px;
    display: inline-block;
}

.company-text{}
.company-text h4 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 14px;
}
.company-text p {
    color: #606060;
    line-height: 25px;
}


.company-img {
    margin-top: 70px;
}

/* ------------ service section ------------ */
.services-tab .nav {
    position: relative;
}
.services-tab .nav::after {
    content: '';
    bottom: 0;
    left: 0;
    width: calc(100% - 65px);
    height: 1px;
    background: #00000038;
    position: absolute;
}
.services-tab .nav li{
    display: flex;
    flex: 1 1 0;
}
.services-tab .nav .nav-link {
    background: transparent;
    border: none;
    font-size: 19px;
    font-weight: 600;
    color: #111;
    padding-bottom: 30px;
}
.services-tab .nav .nav-link span {
    font-size: 43px;
    background: #fff;
    width: 80px;
    text-align: center;
    height: 80px;
    line-height: 87px;
    border-radius: 50%;
    box-shadow: 1px 1px 39px #afaeae;
    color: #606060;
    margin: auto;
    margin-bottom: 15px;
}

.services-tab .nav .nav-link.active span{
    color: red;
}
.services-tab .nav .nav-link.active{
    border-bottom: 1px solid #e83b3e;
}

.service-text1 h3 {
    font-size: 25px;
    margin-bottom: 15px;
}
.service-text1 p {
    color: #606060;
    margin-bottom: 28px;
    font-size: 16px;
}
.service-text1 ul {
    list-style: none;
    padding-left: 19px;
}
.service-text1 ul li {
    line-height: 30px;
    color: #555;
    position: relative;
    font-size: 18px;
}
.service-text1 ul li::before {
    content: "";
    position: absolute;
    top: 11px;
    left: -17px;
    width: 10px;
    height: 10px;
    background: #e83b3e;
    border-radius: 50%;
}
/* ----------------- clint section -------- */
.clint-section button.carousel-control-next {
    display: none;
}
button.carousel-control-prev {
    display: none;
}

.clint-section .carousel-indicators [data-bs-target] {
    background: transparent;
    width: 15px;
    height: 15px;
    border: 2px solid #606060;
    border-radius: 50%;
    margin-top: 16px;
    position: relative;
    margin-right: 32px;
}

.clint-section .carousel-indicators [data-bs-target].active{
    position: relative;
    border: 2px solid #e83b3e;
}
.clint-section .carousel-indicators [data-bs-target].active::before{
    content: "";
    width: 50%;
    height: 50%;
    background-color: #e83b3e;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    bottom: 0;
    margin: auto;
}
.carousel-indicators {
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    margin: 0;
}
.clint-section img {
    width: 400px !important;
    margin-left: 50px;
}
.clint-section .carousel-item {
    transition: transform 2s ease-in-out;
}
.clint-text p {
    font-size: 22px;
    margin-bottom: 31px;
}
.clint-text h4 {
    font-size: 14px;
    color: #e83b3e;
}
.clint-text span {
    font-size: 13px;
    color: #606060;
}
/* ------------ team mamber section ----- */
.team-member{}
.team-mamber-img{
    position: relative;
}
.team-mamber-img img{

}
.team-social-icon ul{
    text-align: center;
    padding-left: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.team-social-icon ul li {
    display: inline-block;
    transform: translateY(46px);
    transition: .5s ease-in-out;
    opacity: 0;
    visibility: hidden;
}
.team-mamber-img:hover .team-social-icon ul li{
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
    transition: .5s ease-in-out;
}
.team-mamber-img .team-social-icon ul li:nth-child(1){
    transition-delay: .2s;
}
.team-mamber-img .team-social-icon ul li:nth-child(2){
    transition-delay: .3s;
}
.team-mamber-img .team-social-icon ul li:nth-child(3){
    transition-delay: .4s;
}
.team-mamber-img .team-social-icon ul li:nth-child(4){
    transition-delay: .5s;
}
.team-social-icon ul li a {
    display: block;
    color: #606060;
    background: rgb(255, 255, 255);
    width: 35px;
    height: 35px;
    border-radius: 30px;
    line-height: 35px;
    font-size: 17px;
    margin-bottom: 20px;
    transition: .4s ease-in;
}
.team-social-icon ul li a:hover{
    background: #e83b3e;
    color: #fff;
}
.team-mamber-content p {
    font-size: 15px;
}
.team-mamber-content h5 {
    font-size: 21px;
    margin-top: 30px;
    color: #e83b3e;
}
/* ------------ Blog section ------- */
.blog-wrap .blog-content a{
    transition: .4s;
}
.blog-wrap:hover .blog-content a{
    color: #e83b3e;
    letter-spacing: 1px;
    transition: .4s;
}
.blog-wrap:hover .blog-content h3 a{
    color: #000;
    letter-spacing: 0;
    transition: .4s;
}
.blog-img{}
.blog-img img{
    cursor: pointer;
}
.blog-content{}
.blog-content span {
    margin-top: 20px;
    display: inline-block;
    color: #e83b3e;
}
.blog-content h3 a {
    color: #000;
    margin: 10px 0;
    display: inline-block;
    font-size: 22px;

}.blog-wrap:hover .blog-content h3 a{
    transition: .4s;
}
.blog-wrap:hover .blog-content h3 a:hover{
    color: #e83b3e;
}
.blog-img:hover .blog-content a{
    color: #e83b3e;
    letter-spacing: 2px;
}
.blog-content a{
    color: #000;
}
/* ----------- fotter section ---------- */
.footer-section{
    padding: 60px 0;
    background: #111111;
}
.footer-left-f{}
.footer-left-f img {
    width: 127px;
    margin-bottom: 7px;
}
.footer-left-f p {
    color: #fff;
    padding: 14px 0;
    font-size: 16px;
}
.footer-left-f ul{
    padding-left: 0;
}
.footer-left-f ul li {
    display: inline-block;
    color: #fff;
    font-weight: 700;
}
.footer-left-f ul li a{
    display: block;
    color: #fff;
    padding: 0 12px;
    transition: .4s;
}
.footer-left-f ul li a:hover{
    color: #e83b3e;
}

.footer-menu-firtst{}
.footer-menu-firtst h5 {
    font-size: 19px;
    border-bottom: 1px solid #353535;
    color: #fff;
    padding-bottom: 15px;
    margin-bottom: 18px;
}
.footer-menu-firtst ul{
    list-style: none;
    padding-left: 0;
}
.footer-menu-firtst ul li {
    display: block;
    line-height: 38px;
}
.footer-menu-firtst ul li a {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    transition: .4s;
}
.footer-menu-firtst ul li a:hover{
    letter-spacing: 1px;
    color:#e83b3e;
}
.footer-last h5{
    font-size: 19px;
    border-bottom: 1px solid #353535;
    color: #fff;
    padding-bottom: 15px;
    margin-bottom: 18px;
}

.footer-last-content{}
.footer-last-content span i {
    width: 30px;
    display: inline-block;
}
.footer-last-content p{}

.mail span{
    color: #fff;
}
.mail span a {
    color: #fff;
    transition: .4s;
}
.mail span a:hover{
    color: #e83b3e;
}
.border-top-footer{
    border-top: 1px solid #353535;
}
.border-top-footer span {
    color: #828282;
    margin-top: 24px;
    display: inline-block;
}
.border-top-footer span a{
    color: #fff;
    font-weight: 500;
    transition: .4s;
}
.border-top-footer span a:hover{
    color: #e83b3e;
}

